<form action="/api/Shops" method="post">
    <fieldset>
        Shop ID: <input type="text" name="shop_id" id="shop_id"><br>
        Shop name: <input type="text" name="shop_name" id="shop_name"><br>
        Opening hours: <input type="text" name="opening_hours" id="opening_hours"><br>
        Contact: <input type="text" name="contact" id="contact"><br>
        ID(same as Shop ID): <input type="text" name="id" id="id" placeholder="this is the same as shop_id"><br>
        <input type="submit" name="submit" value="submit">
    </fieldset>
</form>
